body{
    margin: auto;
    align-self: center;
    max-width: 1920;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}



@media screen and (min-width: 415px){
    .hamburger {
        display: none;
    }
}
.hamburger {
    position: absolute;
    left: 10px;
    top: 20px;
    height: 40px;
}
.hamburger img{
    height: 100%;
    width: auto;
}

nav{
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    margin: 0;
    background-color: white;
    border: 2px solid;
    border-color: #707070;
    align-items: center;
}
@media screen and (max-width: 414px){
    nav .box{
        margin: 5px;
    }
}
@media screen and (min-width: 415px){
    nav .box{
        margin: 67px;
    }
}
nav .box{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between ;    
    height: auto;
    width: 35%;
}

@media screen and (max-width: 414px){
    img {
        max-width: 100%;
    }
}

@media screen and (max-width: 500px){
    .nav_item {
        margin: 5px; 
        display: none;
    }
    
}
@media screen and (min-width: 500px){
    .nav_item {
        margin: 5px; 
    }
    
}

@media screen and (max-width: 500px){
    .logo {
        display: none;
    }
}
.logo{  
    height: 25;
    width: fit-content;
}

.visual{
    display: flex;
    width: 100%;
    height: 450px;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url("../images/visual.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.visual-box .shade-layer {
    background-color: rgba(248, 247, 216, 0.7);
    width: auto;
    height: auto;
}

.visual h1{
    align-self: flex-end;
    margin-bottom: 60px;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.7;
}

.main{
    display: flex;
    justify-content: center;
}
.catagory-box{
    width: 100%;
    justify-content: center;
    max-width: 1280px;
    margin: 46px 23px 46px 23px;
}
@media screen and (min-width: 768px){
    .catagory-row-1 {
        justify-content: center;
    }
}
@media screen and (max-width: 767px){
    .catagory-row-1 {
        justify-content: space-around;
    }
}
.catagory-row-1{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-inline-start: -10px;
    margin-inline-end: -10px;
}
.catagory-row-2{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 50px;
    margin-inline-start: -20px;
    justify-content: center;
}

.catagory-row-1 .catagory-item-box {
    margin: 0 10px;
}
.catagory-row-2 .catagory-item-box {
    margin: 0 20px;
}
.catagory-item-box h3{
    font-size: 20px;
    margin: 0.5em 0 0.5em;
}
.catagory-item-box p{
    font-size: 16px;
    color: #707070;
}

.catagory-row-2 .catagory-item-box {
    margin: 0 24px;
}

footer .info-box{
    display: flex;
    width: 100%;
    height: 84px;
    align-items: center;
    background-color: #F5F5F5;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

@media screen and (max-width: 414px) {
    footer .info-box .info{
        margin: 0 5px;
    }
}
@media screen and (min-width: 768px){
    footer .info-box .info{
        margin: 0 57px;
    }
}
footer .info-box .info{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between ;
    height: auto;
    width: 45%;
}
@media screen and (max-width: 414px) {
    footer .info-box .info .item{
        margin: 0 8px;
    }
}
@media screen and (min-width: 414px) {
    footer .info-box .info .item{
        margin: 0 30px;
    }
}


footer .copy-right-box{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #EBEAEB;
}

@media screen and (max-width: 414px) {
    footer .copy-right-box .copy-right{
        margin: 0 5px;
    }
    
}
@media screen and (min-width: 415px) {
    footer .copy-right-box .copy-right{
        margin: 0 67px;
        
    }
}
footer .copy-right-box .copy-right{
    font-size: 18px;
     font-weight: bold;   
}



